input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.Form-span {
  display: block;
}

.Form-label {
  display: block;
  margin: 0.5em 0;
}

.Form-input{
  width: 3em;
  border: black solid 1px;
  border-radius: 2px;
  font-size: 1em;
}

.Form-input-width {
  width: 12em;
}

.Form-invalid-input {
  border: red solid 1px;
  border-radius: 2px;
  color: red;
}

.Form-button {
  font-size: 1em;
}

.Form-p {
  font-size: 1.2em;
}
